/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .navbar-menu.active {
    opacity: 1;
    visibility: visible;
  }
  
  .navbar-item {
    margin: 0;
    padding: 0;
  }
  
  .navbar-link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    background-color: #555;
  }
  
  .navbar-toggle {
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  .navbar-toggle:focus {
    outline: none;
  }
  
  .navbar-toggle-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-toggle-icon::before,
  .navbar-toggle-icon::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-toggle-icon::before {
    transform: translateY(-8px);
  }
  
  .navbar-toggle-icon::after {
    transform: translateY(8px);
  }
  
  .navbar-toggle.active .navbar-toggle-icon {
    transform: rotate(45deg);
  }
  
  .navbar-toggle.active .navbar-toggle-icon::before {
    transform: translateY(0) rotate(45deg);
  }
  
  .navbar-toggle.active .navbar-toggle-icon::after {
    transform: translateY(0) rotate(-45deg);
  }
  
   */

  /* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262627;
    color: #fff;
    padding: 10px;
  }

  .navbar-logo img {
    height: 40px;
  }

 .btn{
  border-radius: 10px;
 }
 a{
  text-decoration: none;
  color: #FFFFFF;
 }
 ul{
  list-style: none;
 } */
/****************** Bot  css **********************/

img{
  height: 50px;
}
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #262627;
}
nav.navbar a.navbar-brand {
    width: 13%;
}
nav.navbar .navbar-nav .nav-link.nav-item{
  color: rgb(255, 255, 255) ;

}
nav.navbar .navbar-nav .nav-link.navbar-link  {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}


.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: #d9d9d91a;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 1px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
  background-color: #fff;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}