#stdBody, #header{
    background-color:#0a1e7d;
}
#header h3{
    color: white; 
    display : inline;
    /* padding: 2%;
    margin: 2%; */
    font-size: 20px;
}
#header{
    /* padding-top: 45px; */
    padding: 45px;
  margin-left: 0%;
  margin-right: 0%;
}
.log-btn{
    background-color: white;
    display: inline;
    color: #0a1e7d;
    float: right;
    font-weight: 600;
    font-size: larger;
}
.log-btn:hover{
    background-color: #0a1e7d;
    color: white;
    border: 2px solid white;
}
#header img{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    display: inline;
    /* margin-left: 10px;
    margin-top: -10px; */
}