
  *{
    padding: 0px;
    margin: 0px;
  }

  /******* navbar css*********/

/****************** Bot nav css **********************/

img{
  height: 50px;
}
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #262627;
}
nav.navbar a.navbar-brand {
    width: 13%;
}
nav.navbar .navbar-nav .nav-link.nav-item{
  color: rgb(255, 255, 255) ;

}
nav.navbar .navbar-nav .nav-link.navbar-link  {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}


.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: #d9d9d91a;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 1px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
  background-color: #fff;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}


/*************cards css*************/



body{
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

h1,h2,p,h3,h4,label{
font-family: 'Poppins',sans-serif;
}

.card{
  height: 238px;
}

.card-body{
  background-color: #262627;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  border: 2px solid ;
  border-radius: 10px;
}
.row{
  margin:0px 45px;
  margin-top: 13%;
  margin-bottom: 10;
}

.width{
  width: 355px;
}

label{
  color: #FFFFFF
}

.btn{
  font-family: 'Poppins',sans-serif;
  margin: 10px;
}

.btnc{
  margin: 10px;  
  font-family: 'Poppins', sans-serif;
  border: 2px solid #262627;
  background-color: #FFFFFF;
  color: #262627;
  padding: 11px 28px;
  cursor: pointer;
  border-radius: 10px;
}


.default{
  border-color: #FFFFFF;
  color:#FFFFFF;
  background-color: #262627;
}

.default:hover{
  background-color: #FFFFFF;
  color:#262627 ;
}


/************view css*******************/


h1,h2,p,h3,h4,label{
  font-family: 'Poppins',sans-serif;
  color: #FFFFFF;
}


.styled-table {
  border-collapse: collapse;
  margin-top: 100px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #262627;
  color :#FFFFFF;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #FFFFFF;

}

.styled-table tbody tr:nth-of-type(even) { 
  background-color: #FFFFFF;
}

.styled-table tbody tr:nth-of-type(odd) { 
  background-color: #bebec3;
  
  ;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #262627;
}

.btn {
  border: none;
  color: #FFFFFF;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.btnv:hover{
  color: #262627;
}

.btnv-edit{
  background-color: #008cba;
}

.btnv-delete {
  background-color: #f44336;
}

.dropdown{
  border: 2px solid black;
  border-radius: 5px;
  height: 43px;
}

.inputField{
  border-radius: 5px;
  height: 45px;
  padding: 10px;
}


/************form styles**************/

h1,h2,p,h3,h4,label{
  font-family: 'Poppins',sans-serif;
}

.form-head{
color: #FFFFFF;
font-family: 'Poppins',sans-serif;
}
.head{
  color: #FFFFFF;
}

/* .newadmiss,.addCourse{
  font-family: 'Poppins', sans-serif;
  background-color: #0a1e7d;
  color: #FFFFFF;
  padding: 10px;
  width: 775px;
  align-items: center;
  display: block;
  margin: auto;
  margin-top: 81px;
  border-radius: 10px;
} */

label{
  color: #FFFFFF
}
.btn{
  background-color: #262627;
}
.btnc{
  margin: 10px;  
  font-family: 'Poppins', sans-serif;
  border: 2px solid #262627;
  background-color: #FFFFFF;
  color: #262627;
  padding: 11px 28px;
  cursor: pointer;
  border-radius: 10px;
}

.default{
  border-color: #FFFFFF;
  color:#FFFFFF;
  background-color: #262627;
}

.default:hover{
  background-color: #FFFFFF;
  color:#262627 ;
}




/*******************************************/

.wrapper{
  overflow-x: hidden;
  overflow-y: auto;    
}

.wrapper h1{
  margin-top: 30px;
  text-align: center;
}

.wrapper p{
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
}

.wrapper .main{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.wrapper .form-container{
  font-family: 'Poppins', sans-serif;
  width: 500px;
  height: 520px;
  background-color: #262627;
  margin: 20px auto;
  padding: 20px;   
}

.inputField{
  width:40% ;
  padding: 1px;
  margin: 5px;
  border: none;
  font-size: 17px;

}


@media (max-width:798) {
  /*    card css    */
  .width{
    width: 340rem;
  }
  
}
































  /*      width: 355px;                                                  */
/*  }                       */
  /*.width{                                                              */   
/*                       */
/*                         */
/*  .row{                       */
/*    margin-left :150px;                       */
/*  }                       */
/*                         */
/*  .card{                       */
/*      height: 238px;                       */
/*  }                       */
/*  .card-body{                       */
/*    background-color: #0a1e7d;                       */
/*    color: white;                       */
/*    font-family: 'Poppins', sans-serif;                       */
/*  }                       */
/*                         */
/*                       */
/*                         */
/*  .btn{                       */
/*    margin: 10px;                         */
/*    font-family: 'Poppins', sans-serif;                       */
/*  }                       */
/*                         */
/*                         */
/*                         */
/*  /* new Course addn        */
/*  label{                       */
/*    color: white;                       */
/*  }                       */
/*                         */
/*                         */
/*  /* cardss css                         */
/*                         */
/*  .heading {                       */
/*    text-align: center;                       */
/*    font-size: 2em;                       */
/*    color: #2d3436;                       */
/*    margin: 20px 0 30px;                       */
/*  }                       */
/*                         */
/*  .displayCard {                       */
/*    border-radius: 25px;                       */
/*    position: relative;                       */
/*    padding: 10px 15px;                       */
/*    background-color: #81ecec;                       */
/*    margin: 50px 80px;                       */
/*    /* display: block;                       */
/*    margin: auto;                       */
/*    height: 210px;                       */
/*    box-shadow: 0 2px 5px #ccc;                       */
/*    text-align: left;                       */
/*    width: 25vw;                       */
/*  }                       */
/*                         */
/*  .top {                       */
/*    border-radius: 25px 25px 0 0;                       */
/*    height: 100px;                       */
/*    width: 100%;                       */
/*    background-color: #00cec9;                       */
/*    position: absolute;                       */
/*    top: 0;                       */
/*    left: 0;                       */
/*    display: flex;                       */
/*  }                       */
/*                         */
/*  .name {                       */
/*    font-size: 2em;                       */
/*    color: #2d3436;                       */
/*    display: flex;                       */
/*    flex: 1;                       */
/*    margin: 10% 20px 0;                       */
/*  }                       */
/*                         */
/*  .card img {                       */
/*    margin: 30px 20px 0 0;                       */
/*  }                       */
/*                         */
/*  .circle-img {                       */
/*    border-radius: 50%;                       */
/*    border: 7px solid #fff;                       */
/*    width: 120px;                       */
/*    height: 120px;                       */
/*    margin: 20px;                       */
/*  }                       */
/*                         */
/*  .bottom {                       */
/*    margin-top: 120px;                       */
/*  }                       */
/*  .info {                       */
/*    margin: 20px 0;                       */
/*    color: #1a7e76;                       */
/*  }                       */
/*                         */
/*  /* **************************** *                      */
/*  .wrapper{                       */
/*    overflow-x: hidden;                       */
/*    overflow-y: auto;                           */
/*  }                       */
/*                         */
/*  .wrapper h1{                       */
/*    margin-top: 30px;                       */
/*    text-align: center;                       */
/*  }                       */
/*                         */
/*  .wrapper p{                       */
/*    text-align: left;                       */
/*    margin-top: 7px;                       */
/*    font-weight: bold;                       */
/*  }                       */
/*                         */
/*  .wrapper .main{                       */
/*    display: flex;                       */
/*    margin-top: 20px;                       */
/*    align-items: center;                       */
/*  }                       */
/*                         */
/*  .wrapper .form-container{                       */
/*    font-family: 'Poppins', sans-serif;                       */
/*    width: 500px;                       */
/*    height: 450px;                       */
/*    background-color: #0a117d;                       */
/*    margin: 20px auto;                       */
/*    padding: 20px;                          */
/*  }                       */
/*                         */
/*  tbody{                       */
/*    margin-top: 25px;                       */
/*  }                       */
/*                         */
/*                         */
/*  /* ****************** /                       */
/*  .Stdcard{                       */
/*    margin: 0 100px;                       */
/*    border-radius: 10px;                       */
/*    background-color: #0a1e7d;                       */
/*    color: #FFFFFF;                       */
/*    font-family: 'Poppins', sans-serif;                       */
/*  }                       */
/*                         */
/*  td{                       */
/*    color :black;                       */
/*  }                       */
/*                       */
/*  th{                       */
/*    color: white;                       */
/*  }                       */
/*                              */